
.back-video {
   transform: translateZ(-150px);
}

.back-video, .front-img {
   position: absolute;
   height: 100%;
   width: 100%;
   object-fit: cover;
   z-index: -1;
   margin: 0px;
   padding: 0px;
}

.front-img {
   transform: translateZ(-35px) scale(1.15);
}

.header {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   transform-style: preserve-3d;
   z-index: -1;
   margin: 0px;
   padding: 0px;
   width: 100%;
   overflow: hidden
}

.second-section {
   background-color: lightpink;
   height: 100vh;
}

.second-section > header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: antiquewhite;
}

img.logo {
   transform: translateZ(-15px) scale(3.5);
   height: 90%;
   width: 40%;
   animation: tilt-shaking infinite linear 925ms;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(5deg) scale(1.01); }
  50% { transform: rotate(0eg) scale(1.05); }
  75% { transform: rotate(-5deg) scale(1.1); }
  100% { transform: rotate(0deg) scale(1.15); }
}

@-webkit-keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

