.homenavbar {
   width: 100%;
   border-bottom: 1.75px solid black;
   background-color: beige;
   display: flex;
   /* justify-content: space-between; */
}

.homenavbar-card {
   max-height: 15%;
   max-width: 15%;
   object-fit: cover;
   overflow: hidden;
   cursor: pointer;
}

.homenavbar-card:active {
   border: 3px solid maroon;
   transform: scale(1.03);
}

.homenavbar-card > .text-div {
   position: relative;
   color: whitesmoke;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.homenavbar-img {
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 0;
}