.challenge-videos-container {
   border: 3px solid hotpink;
   background-color: #333;
   width: 100%;
   display: grid;
   justify-content: space-around;
}

.no-videos {
   border: 3.5px solid firebrick;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #ECE9E6;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #caacac, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #edf169, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}