.challenge-announcement-form-component {
   border: 3.5px solid firebrick;
   background-color: antiquewhite;
}

.challengeAnnouncementForm-container {
   background-color: wheat;
}

.challenge-announcement-video-div {
   display: grid;
}