.challenge-announcement-form-component {
   border: 3.5px solid firebrick;
   background-color: antiquewhite;
}

.challengeAnnouncementForm-container {
   display: flex;
   justify-content: center;
   align-items: center;
}