.announcementDetailsCoverImg {
   object-fit: cover;
   border: 3.5px solid maroon;
   overflow: hidden;
}

.announcementDetailsProfile {
   display: grid;
   grid-template-columns: 75% 25%;
   background-color: bisque;
}

.announcement-videos-container {
   display: grid;
   grid-template-columns: 19% 19% 19% 19% 19%;
   background: #ddd6f3;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   margin-bottom: 1%;
}

.challenge-announcements-container {
   display: grid;
   border: 1.5px solid black;
}

.challenges-container {
   display: grid;
   border: 3.5px solid red;
}