.announcementDetailsCoverImg {
   object-fit: cover;
   border: 3.5px solid maroon;
   overflow: hidden;
}

.announcementDetailsProfile {
   display: grid;
   grid-template-columns: 75% 25%;
   background-color: bisque;
}

.announcement-videos-container {
   display: grid;
   grid-template-columns: 19% 19% 19% 19% 19%;
   background: #ddd6f3;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   margin-bottom: 1%;
}

.challenge-announcements-container {
   display: grid;
   border: 1.5px solid black;
}

.challenge-details-description-div {
   border: 3px solid green;
   background-color: antiquewhite;
}

.challenge-details-header {
   display: grid;
   grid-template-columns: 70% 30%;
   height: 25vh;
   overflow: hidden;
   border: 3.75px solid firebrick;
}

.challenge-details-img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.challenge-details-img-div {
   overflow: hidden;
   border: 3px solid maroon;
}

.challenges-container {
   display: grid;
   border: 3.5px solid red;
}

.current-challenge-wrapper-div {
   overflow-wrap: anywhere;
   max-width: 100%;
}

.eligibleVideosDiv {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
}