.logo {
   height: 15%;
   width: 15%;
}

section {
   font-size: 2.5rem;
}

.welcome-page-wrapper{
   height: 100vh;
   overflow-x: hidden;
   overflow-y: scroll;
   perspective: 10px;
   position: relative
}