.logo {
   height: 15%;
   width: 15%;
}

section {
   font-size: 2.5rem;
}

.welcome-page-wrapper{
   height: 100vh;
   min-width: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   perspective: 10px;
   position: relative
}