.welcome-navbar {
   display: flex;
   justify-content: space-between;
   border-bottom: 1.75px solid black;
   background-color: whitesmoke;
   height: 7%;
}

.welcome-nav-img {
   max-height: 100%;
}